/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
auth.json
/.phpunit.cache
/.idea
/.vscodedatabase/database.sqlite

# Database
database/database.sqlite
